# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src/components/ArtworkDetails.js
/src/components/Artworks.js
/src/components/Auction.js
ASSESSMENT.md
REFERENCES.md
README.md
REFLECTIONS.md
CRA_DOCS.md
images

/.pnp
.pnp.js
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
